.comic-card {
  display: flex;
  vertical-align: top;
  flex-direction: column;
  transition: 0.5s ease;
  flex: 18% 1;
  align-items: center;
  text-decoration: none;
  height: 360px;
}

.comic-card:hover .comic-card-visual {
  opacity: 0.9;
  box-shadow: rgb(100 100 111 / 20%) 4px 15px 18px 5px;
  background: transparent;
  transform: translate3d(0, -2%, 0);
  transition: all 0.17s ease-in-out;
}

.comic-card .comic-card-title {
  color: #000;
  white-space: normal;
  padding: 0 0 10px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 10px 0;
  font-weight: bold;
}

.comic-card:hover .comic-card-title {
  color: #e62429;
}

.comic-card .comic-card-visual {
  height: 100%;
  width: 200px;
  object-fit: contain;
}
